@keyframes flicker {
	5% {
		text-shadow: 	1px 1px 0.1rem rgba(98, 220, 255, 1),
					-1px -1px 0.1rem rgba(98, 220, 255, 1),
					1px 0px 0.1rem rgba(98, 220, 255, 1),
					0px 1px 0.1rem rgba(98, 220, 255, 1),
					-1px 0px 0.1rem rgba(98, 220, 255, 1),
					0px -1px 0.1rem rgba(98, 220, 255, 1),
					0px 0px 0.1rem rgba(98, 220, 255, 1);
		color: #62dcff;
	}

	10% {
		text-shadow: none;
		color: transparent;
	}
	
	15% {
		text-shadow: 	1px 1px 0.1rem rgba(98, 220, 255, 1),
					-1px -1px 0.1rem rgba(98, 220, 255, 1),
					1px 0px 0.1rem rgba(98, 220, 255, 1),
					0px 1px 0.1rem rgba(98, 220, 255, 1),
					-1px 0px 0.1rem rgba(98, 220, 255, 1),
					0px -1px 0.1rem rgba(98, 220, 255, 1),
					0px 0px 0.1rem rgba(98, 220, 255, 1);
		color: #62dcff;
	}

	60% {
		text-shadow: none;
		color: transparent;
	}	

	65% {
		text-shadow: 	1px 1px 0.1rem rgba(98, 220, 255, 1),
					-1px -1px 0.1rem rgba(98, 220, 255, 1),
					1px 0px 0.1rem rgba(98, 220, 255, 1),
					0px 1px 0.1rem rgba(98, 220, 255, 1),
					-1px 0px 0.1rem rgba(98, 220, 255, 1),
					0px -1px 0.1rem rgba(98, 220, 255, 1),
					0px 0px 0.1rem rgba(98, 220, 255, 1);
		color: #62dcff;
	}

	95% {
		text-shadow: none;
		color: transparent;
	}

	100% {
		text-shadow: 	1px 1px 0.1rem rgba(98, 220, 255, 1),
					-1px -1px 0.1rem rgba(98, 220, 255, 1),
					1px 0px 0.1rem rgba(98, 220, 255, 1),
					0px 1px 0.1rem rgba(98, 220, 255, 1),
					-1px 0px 0.1rem rgba(98, 220, 255, 1),
					0px -1px 0.1rem rgba(98, 220, 255, 1),
					0px 0px 0.1rem rgba(98, 220, 255, 1);
		color: #62dcff;
	}
}


@-webkit-keyframes fade-In-Out {
	0%, 99% { opacity: 1; }
	100% { opacity: 0.1; }
}

@-webkit-keyframes starAnimation {
	from { transform: rotate(0deg);}
	to { transform: rotate(360deg);}
}

@-webkit-keyframes blink {
	0%, 100% { opacity: 0; };
	10% { opacity: 1; }
}

@keyframes throbLight {
	0%,, 100% { filter: drop-shadow(0px 0px 0.8vw rgba(255, 214, 252, 0.4)); }
	30%, 50%{ filter: none; }
	40%, 70%, { filter: drop-shadow(0px 0px 1vw rgba(255, 214, 252, 0.3)); }
}

@keyframes spin {
	from { transform: rotateX(80deg) rotateZ(0); }
	50% { transform: rotateX(80deg) rotateZ(180deg); };
	to { transform: rotateX(80deg) rotateZ(360deg); }
}
